<style type="text/css">body {
    width: auto;
}

.form-style-3 {
    max-width: 500px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: 380px;
}

.form-style-3 label {
    display: block;
    margin-bottom: 10px;
}

.form-style-3 label>span {
    float: left;
    width: 100px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    text-shadow: 1px 1px 1px #fff;
}

.form-style-3 fieldset {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #FFD2D2;
    padding: 20px;
    background: gray;
    box-shadow: inset 0px 0px 15px #FFE5E5;
    -moz-box-shadow: inset 0px 0px 15px #FFE5E5;
    -webkit-box-shadow: inset 0px 0px 15px #FFE5E5;
}

.form-style-3 fieldset legend {
    color: black;
    border-top: 1px solid #FFD2D2;
    border-left: 1px solid #FFD2D2;
    border-right: 1px solid #FFD2D2;
    border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    background: #FFF4F4;
    padding: 0px 8px 3px 8px;
    box-shadow: -0px -1px 2px #F1F1F1;
    -moz-box-shadow: -0px -1px 2px #F1F1F1;
    -webkit-box-shadow: -0px -1px 2px #F1F1F1;
    font-weight: normal;
    font-size: 12px;
}

.form-style-3 input[type=text],
.form-style-3 input[type=date],
.form-style-3 input[type=datetime],
.form-style-3 input[type=number],
.form-style-3 input[type=search],
.form-style-3 input[type=time],
.form-style-3 input[type=url],
.form-style-3 input[type=email],
.form-style-3 select,
{
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #FFC2DC;
    outline: none;
    color: #F072A9;
    padding: 5px 8px 5px 8px;
    box-shadow: inset 1px 1px 4px #FFD5E7;
    -moz-box-shadow: inset 1px 1px 4px #FFD5E7;
    -webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
    background: #FFEFF6;
    width: 50%;
}

.form-style-3 input[type=submit],
.form-style-3 input[type=button] {
    background: #10B3DE;
    border: 1px solid #C94A81;
    padding: 5px 15px 5px 15px;
    color: #FFCBE2;
    box-shadow: inset -1px -1px 3px #FF62A7;
    -moz-box-shadow: inset -1px -1px 3px #FF62A7;
    -webkit-box-shadow: inset -1px -1px 3px #FF62A7;
    border-radius: 3px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    font-weight: bold;
    margin-top: 20px;
}

.required {
    color: red;
    font-weight: normal;
}

.logo {
    width: auto;
    background: #dff7fd;
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

#login h1,
#login-otp h1 {
    background: #10B3DE;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#choixEtab h1 {
    background: #10B3DE;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
}

#employetable {
    width: auto;
    height: auto;
    border-style: solid;
    text-align: center;
    margin-top: 10px;
}

th {
    border-style: solid;
}

legend {
    text-align: center;
    margin-left: 35%;
    color: black;
}

table {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.line {
    border-style: groove;
    border-color: black;
    border-width: 5px;
}

#triangle {
    width: 0;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #10B3DE;
    border-left: 12px solid transparent;
    margin: 0 auto;
}

</style>